*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
html {
    font-size : 20px;
}
@media only screen and (min-width: 401px){
    html {
        font-size: 25px !important;
    }
}
@media only screen and (min-width: 428px){
    html {
        font-size: 26.75px !important;
    }
}
@media only screen and (min-width: 481px){
    html {
        font-size: 30px !important;
    }
}
@media only screen and (min-width: 569px){
    html {
        font-size: 35px !important;
    }
}
@media only screen and (min-width: 641px){
    html {
        font-size: 40px !important;
    }
}
header{
    display: flex;
    display: -webkit-flex; /* Safari */
    justify-content: space-around;
    width: 100%;
    margin-top: 1.25rem;
    overflow: hidden;
}
.headerLeft{
    width: 1rem;
    height: auto;
    display: inline-block;
    float: left;
    margin-left: 0.8725rem;
}
.headerLeft img{
    height: auto;
    width: 100%;
}
.headerLeft span{
    display: block;
    font-size: 0.5rem;
}
.headerCenter{
    display: inline-block;
    margin-left: 0.6rem;

}
.headerCenter button{
    float: left;
    height: 1.5rem;
    width: 1.5rem;
    border: none;
    background-color: #ececec;
}
.headerCenter input{
    float: right;
    height: 1.5rem;
    width: 10.225rem;
    background-color: #ececec;
    border: none;
    font-size: 0.6rem;
}
.headerRight{
    float: right;
    margin-right: 0.625rem;
    display: inline-block;
    width: 1.1rem;
}
.Second{
    height: 9rem;
    width: 100%;
    margin-top: 0.425rem;
}
.Third{
    width: 100%;
    overflow: hidden;
    border-top: solid 1px #d7d7d7;
    border-bottom: solid 1px #d7d7d7;
}
.Third h3{
    font-size: 0.7rem;
    color: #f14d66;
    margin-top: 0.625rem;
    margin-left: 0.725rem;
}
.Third p{
    font-size: 0.6rem;
    color: #757575;
    margin-top: 0.625rem;
    margin-left: 0.725rem;
}
.ThirdLeft,
.ThirdRight{
    width: 49%;
    display: inline-block;
    height: 12em;
}
.ThirdLeft{
    float: left;
    width: 50%;
    background: url("images/3.jpg") repeat-y;
}
.ThirdRight{
    border-left: solid 0.04rem #d7d7d7;
}
.ThirdRightTop{
    height: 50%;
    border-bottom: solid 0.04rem #d7d7d7;
    background: url("images/3.jpg") no-repeat;
    background-size: 100%;
}
.ThirdRightBottom{
    height: 49%;
}
.ThirdRightItem{
    display: inline-block;
    width: 49%;
    float: left;
    height: 100%;
    background: url("images/3.jpg") no-repeat;
    background-size: 100%;
}
.ThirdRightItem:first-child{
    border-right: solid 0.04rem #d7d7d7;
}
.Forth{
    background-color: #ececec;
    padding-top: 0.75rem;
}
.Forth ul{
    display: flex;
    display: -webkit-flex; /* Safari */
    justify-content: space-around;
    background-color: #ffffff;
    list-style: none;
    overflow: hidden;
}
.Forth ul li{
    display: inline-block;
    margin: 1rem 0;
}
.circle{
    width: 3.65rem;
    height: 3.65rem;
}
.circle img{
    width: 3.65rem;
    height: 3.65rem;
    border: solid 0.025rem #ffffff;
    border-radius: 50%;
    width: 100%;
}
.Forth p{
    font-size: 0.6rem;
    text-align: center;
    width: 3.7rem;
}
.Fifth{

}
.Fifth h3{
    text-align: center;
    line-height: 1.8rem;
    background-color: #ececec;
    font-size: 0.6rem;
    color: #535353;
}
.FifthContent{

}
.FifthItem{
    height: 9.25rem;
    width: 49%;
    margin-top: 0.3rem;
    background-color: #535353;
    display: inline-block;
    position: relative;
}
.FifthItem video{
    height: 9.25rem;
    width: 9.25rem;
}
.FifthItem p{
    position: absolute;
    font-size: 0.6rem;
    color: #ffffff;
    bottom: 0.85rem;
    left: 0.4rem;
}
.FifthItem small{
    position: absolute;
    font-size: 0.4rem;
    color: #939393;
    bottom: 0.25rem;
    left: 0.4rem;
}
.iSlider-effect {
    height: 9rem;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.iSlider-effect ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}
.iSlider-effect li {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    list-style: none;
}
.iSlider-effect ul li img{
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
}
.iSlider-effect div{
    background-color: #ffffff;
}
.Six{
    height: auto;
    width: 100%;
}
.Six h3{
    text-align: center;
    line-height: 1.8rem;
    background-color: #ececec;
    font-size: 0.6rem;
    color: #535353;
}
.SixContent{
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.SixItem{
    margin-top: 0.1rem;
    width: 49%;
    margin-bottom: 0.8rem;
}
.SixItemPic img{
    width: 100%;
}
.SixItemTitle{
    overflow: hidden;
    margin-left: 0.4rem;
}
.SixItemTitle span{
    float: left;
    font-size: 0.6rem;
}
.SixItemTitle small{
    float: right;
    font-size: 0.4rem;
    color: #757575;
    margin-right: 0.2rem;
}
.SixItem p{
    line-height: 0.6rem;
    font-size: 0.4rem;
    color: #757575;
    width: 3.5rem;
    display: inline-block;
    float: left;
}
.SixItemInfo{
    margin-left: 0.4rem;
    width: 7rem;
}
footer{
    position: relative;
    height: 2.65rem;
}
.BigQueen{
    position: absolute;
    top: 0;
    width: 2.5rem;
    height: 2.5rem;
    border: solid 0.025rem #757575;
    border-radius: 50%;
    text-align: center;
    background-color: #ececec;
    z-index: 10;
    left: 43%;
}
.smallCircle{
    width: 2.1rem;
    height: 2.1rem;
    border: solid 0.025rem #757575;
    border-radius: 50%;
    background-color: #ececec;
    margin: 0.175rem;
}
.smallCircle img{
    display: inline-block;
    margin-top: 0.35rem;
    height: 1.25rem;
    width: 1.25rem;
}
footer ul{
    position: absolute;
    background-color: #ececec;
    margin-top: 33px;
    overflow: hidden;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
}
footer ul li{
    display: inline-block;
}
.QueenImg{
    width: 0.75rem;
    height: 0.7rem;
}
.QueenImg img{
    width: 100%;
}
footer ul li span{
    font-size: 0.45rem;
    color: #757575;
    margin-left: -0.03rem;
}
.hover{
    color: #f14d66;
}
.redCircle{
    width: 1.1rem;
    height: 1.1rem;
    border:  0.05rem solid #f14d66;
    border-radius: 50%;
    background-color: #f14d66;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
}
.triangle-right{
    margin-left: 0.4rem;
    margin-top: 0.25rem;
    width: 0;
    height: 0;
    border-top: 0.3rem solid transparent;
    border-bottom: 0.3rem solid transparent;
    border-left: 0.4rem solid #ffffff;
}
.show{
    position: absolute;
    z-index: 1;
    font-size: 0.5rem;
    top: 3.1rem;
    left: 1.2rem;
    display: none;
}
.show ul{
    list-style: none;
    background-color: #ffffff;
    border-radius: 0.2rem;
    box-shadow:0 0.05rem 0.25rem rgba(0,0,0,0.5);
    width: 4rem;
}
.show ul li{
    line-height: 1rem;
    text-align: center;
    border-bottom:  1px solid rgba(0,0,0,0.1);
}